*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(231, 231, 231);
}
#header{
    width: 100%;
    height: 110px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-info{
    width: 100%;
    height: 110px;
    display: flex;
}
.logo{
    width: 20%;
    height :100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 140px;
    height: 79px;
    object-fit: contain;
}
.menu{
    width: 80%;
    height :110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-left: 70px;
}
.menu li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    font-family:sans-serif ;
    cursor: pointer;
    
}
.menu li a {
    color: #06366b;
    text-decoration: none;
}
#last-menu{
    background: #4086b8;
    padding: 9px;
    border-radius: 12px;
    margin-left: 100px;
}
#last-menu a{
    color: #ffffff;

}
.menu li a:hover{
    color: #052b55;
}